@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&family=Lora:ital,wght@0,400..700;1,400..700&display=swap"); 
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@theme {
  --font-lora: "Lora", serif; 
  --font-kiwi: "Kiwi Maru",  sans-serif;
}
.font-kiwi {
  font-family: var(--font-kiwi);
}

.font-lora {
  font-family: var(--font-lora);
}